// _base.scss

body {
    overflow-x: hidden;
    font-family: $font-family-roboto;
  }
  
  p {
    line-height: 1.75;
  }
  
  a {
    color: $primary-color;
  }
  
  a:hover {
    color: $primary-color;
  }
  
  .text-primary {
    color: $primary-color !important;
  }
  
  code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: 695;
    font-family: $font-family-montserrat;
  }
  
  section {
    padding: 25px 0;
  }
  
  section h2.section-heading {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  
  section h3.section-subheading, section li.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 45px;
    line-height: 40px;
    margin-right: 20%;
    margin-left: 20%;
    text-transform: none;
    font-family: $font-family-droid-serif;
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  ::-moz-selection, ::selection {
    background: $primary-color;
    text-shadow: none;
  }
  
  img::selection, img::-moz-selection {
    background: transparent;
  }
  