/* ------------------------------ Contact Section ------------------------------ */

section#contact {
  background-color: #212529;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px 0;
}

section#contact .contact-image {
  display: block;
  margin: 0 auto 30px;
  max-width: 150px;
  border-radius: 50%;
  border: 5px solid #bd64b4;
  transition: all 0.3s ease;
  margin-top: 2%;
}

section#contact .contact-image:hover {
  transform: scale(1.1);
  border-color: #fff;
}

section#contact .form-group input.form-control {
  height: auto;
}

section#contact .form-group textarea.form-control {
  height: 248px;
}

section#contact .form-control:focus {
  border-color: #bd64b4;
  box-shadow: none;
}

section#contact .form-group {
  margin-bottom: 25px;
}

section#contact .form-group input.form-control,
section#contact .form-group textarea.form-control {
  border: 1px solid #b5b5b5;
  padding: 1.5em 1.25em;
}

section#contact .form-group .help-block {
  font-size: 16px;
  font-weight: 400;
}

section#contact .col-md-4 {
  margin-bottom: 1.25em;
}

section#contact .text-center {
  padding: 25px;
}

section#contact .text-center h2.section-heading {
  font-size: 32px;
  margin-bottom: 50px;
}

section#contact .text-center h3.section-subheading {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 35px;
}
