// _footer.scss

section#footer {
    text-align: center;
  }
  
  footer span.copyright {
    font-size: 90%;
    line-height: 40px;
    color: $primary-color;
    font-family: $font-family-montserrat;
  }
  
  ul.social-buttons {
    margin-bottom: 0;
  
    li a {
      font-size: 20px;
      line-height: 40px;
      display: block;
      width: 40px;
      height: 40px;
      transition: all 0.3s;
      color: white;
      border-radius: 100%;
      outline: none;
      background-color: $secondary-color;
    }
  
    li a:active, li a:focus, li a:hover {
      background-color: $primary-color;
    }
  }
  