// _modal.scss

.portfolio-modal .modal-dialog {
    margin: 3rem;
    max-width: 100vw;
    max-height: 95vh;
    overflow-y: auto;
  
    @media (min-width: 1000px) {
      max-width: 70vw;
    }
  
    @media (min-width: 1800px) {
      max-width: 30vw;
    }
  }
  
  .portfolio-modal .modal-content {
    padding: 10px 0;
    background-color: $modal-background;
  
    h4 {
      font-size: 2em;
      margin-bottom: 15px;
      color: $modal-text-color;
    }
  
    p {
      margin-bottom: 30px;
      color: $modal-text-color;
    }
  
    p.item-intro {
      font-size: 16px;
      font-style: italic;
      margin: 20px 0 30px;
      color: $modal-text-color;
    }
  
    ul.list-inline {
      margin-top: 0;
      margin-bottom: 30px;
    }
  
    img {
      margin-bottom: 30px;
    }
  
    button {
      cursor: pointer;
      background-color: $highlight-color;
    }
  
    hr {
      background-color: $highlight-color;
    }
  }
  
  .portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    background-color: transparent;
  
    .lr {
      z-index: 1051;
      width: 1px;
      height: 75px;
      margin-left: 35px;
      transform: rotate(45deg);
      background-color: white;
    }
  
    .lr .rl {
      z-index: 1052;
      width: 1px;
      height: 75px;
      transform: rotate(90deg);
      background-color: white;
    }
  }
  