// _variables.scss

$primary-color: #bd64b4;
$secondary-color: #212529;
$font-family-roboto: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-montserrat: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-droid-serif: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$modal-background: #212529;
$modal-text-color: white;
$hover-background-color: rgba(88, 170, 151, 0.7);
$highlight-color: #99D9EA;
